@font-face {
	font-family: 'Times New Roman Cyr';
	src: url(../../assets/fonts/TimesNRCyrMT.woff2) format('woff2'),
	url(../../assets/fonts/TimesNRCyrMT.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}